@charset "utf-8";
/* CSS Document */
body  {
	font: 100%  Arial, Helvetica, sans-serif;
	background: #dddddd;
	margin: 0;
	background-image:url(../images/tlo_glowne.gif); background-repeat:repeat-x;
	padding: 0;
	text-align: left;
	color: #000000;
}
img {border:none;}
.dwiekol #zbiorczy { 
	width: 990px;
	margin: 0 auto;
	text-align: left;
} 
li, ul, p {padding:0; margin:0;}

a.news:link{ text-decoration:none; color:#1b3360;}
a.news:hover{text-decoration:none; color:#d91a1a;}
a.news:active {text-decoration:none; color:#1b3360;}
a.news:visited {text-decoration:none; color:#1b3360;}

.pasek {background-image:url(../images/pasek.gif); background-repeat:repeat-x; height:1px;}
.niclist { list-style:none; padding:0; margin:0;}
.stepcarousel{
position: relative; /*leave this value alone*/
z-index:1;
overflow: scroll; /*leave this value alone*/
width: 480px; /*Width of Carousel Viewer itself*/
height: 240px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}
.pagin { text-align:right; width:490px; padding-bottom:5px;}
.stepcarousel .panel{
float: left; /*leave this value alone*/

overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin-rigt: 10px;
margin-left:0px; /*margin around each panel*/
width: 480px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.mdol {margin:auto; width:990px; padding-top:20px;}

.md12 {margin:0; padding-left:60px; text-align:left; width:180px; list-style:none; float:left; margin-bottom:30px;}
.md1 {margin:0; padding-left:30px; text-align:left; width:180px; list-style:none; float:left; margin-bottom:30px;}

a.tytdolm:link {font-size:13px; padding-top:0px; color:#FFFFFF; font-weight:bold; text-decoration:none;}
a.tytdolm:active {font-size:13px; padding-top:0px; color:#FFFFFF; font-weight:bold; text-decoration:none;}
a.tytdolm:visited {font-size:13px; padding-top:0px; color:#FFFFFF; font-weight:bold; text-decoration:none;}
a.tytdolm:hover {font-size:13px; padding-top:0px; color:#dddddd; font-weight:bold; text-decoration:none;}

a.tytdoltxt:link {font-size:12px; margin:0px; color:#afb0b4; text-decoration:none; line-height:180%;}
a.tytdoltxt:active {font-size:12px; padding:0px; color:#afb0b4; text-decoration:none; line-height:180%;}
a.tytdoltxt:visited {font-size:12px; padding:0px; color:#afb0b4; text-decoration:none; line-height:180%;}
a.tytdoltxt:hover {font-size:12px; padding:0px; color:#ffffff; text-decoration:none; line-height:180%;}

.dwiekol #naglowek { background-image:url(../images/tlo_baner.gif); background-repeat:repeat-x;
	padding: 0; height:144px;
} 
.flagi {padding-top: 21px; padding-left:20px;}
.kategoria {color:#FF0000; text-align:right; font-size:16px; padding-top:5px;}
.kategtyt { padding-left:0px; padding-bottom:10px; font-size:20px; color:#666769; padding-top:10px; }
.dwiekol #menulewe {
	float: left;
	width: 490px;
	padding: 0px 0px 0px 0px;
}
.dwiekol #menuleweall {
	float: left;
	width: 260px;
	padding: 0px 0px 0px 0px;
}
.dwiekol #menuprawe {
	float: right;
	width: 390px;
	background: #ebe8e8;
	padding: 30px 50px 15px 50px;
	margin-bottom:40px;
}
.dwiekol #zawartosc { 
	margin: 0 0 0 500px;
	padding: 0;
	background-color:#ebe8e8;
} 
.dwiekol #stopka {
	background-color:#3e3f42;
	background-image:url(../images/tlo_stopka.gif);
	background-repeat:repeat-x;
	color:#afb0b4;
} 
.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.opismen{ font: 12px Verdana;}

h1 {font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#6d6e71; font-weight:normal; padding:0; margin:0;}
.newsopis {color:#6d6e71; text-align:right; font-size:10px; padding-bottom:25px;}

.opisnews {color:#6d6e71; font-size:12px; text-align:justify; padding-top:15px;}

.opismen ul{
margin: 0;
padding: 0;
list-style-type: none;
z-index:1000;
}

/*Top level list items*/
.opismen ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.opismen ul li a.m1{ display:block; text-align:center;
padding-top: 17px; padding-bottom:17px; padding-left:5px; padding-right:5px;
color:#1b3360; width:110px;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}
.opismen ul li a.m1:hover{ display:block;
padding: 17px;  padding-bottom:17px; padding-left:5px; padding-right:5px;
color:#ffffff; width:110px;
background-color:#666666;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}
.opismen ul li a.m2{ display:block; text-align:center;
padding: 17px;  padding-bottom:17px; padding-left:5px; padding-right:5px;
color:#1b3360; width:112px;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}
.opismen ul li a.m2:hover{ display:block;
padding: 17px;  padding-bottom:17px; padding-left:5px; padding-right:5px;
color:#ffffff; width:112px;
background-color:#666666;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}
.opismen ul li a.m3{ display:block; text-align:center;
padding: 17px;  padding-bottom:17px; padding-left:5px; padding-right:5px;
color:#1b3360; width:155px;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}
.opismen ul li a.m3:hover{ display:block;
padding: 17px;  padding-bottom:17px; padding-left:5px; padding-right:5px;
color:#ffffff; width:155px;
background-color:#666666;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}
.opismen ul li a.m4{ display:block; text-align:center;
padding: 17px;  padding-bottom:17px; padding-left:5px; padding-right:5px;
color:#1b3360; width:121px;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}
.opismen ul li a.m4:hover{ display:block;
padding: 17px;  padding-bottom:17px; padding-left:5px; padding-right:5px;
color:#ffffff; width:121px;
background-color:#666666;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}

.opismen ul li a.m5 { padding: 17px;  padding-bottom:17px; padding-left:5px; padding-right:5px; width:155px;
background-image:url(../images/pasek_menu.gif); background-position:left; background-repeat:no-repeat;
margin-right: 0; /*spacing between tabs*/
text-decoration: none;
}

.opismen ul li a:hover{
/*background-image: url(../../images/tintbluedark.gif) /*tab link background during hover state*/
}
	
/*1st sub level menu*/
.opismen ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;
background: #0c5d7b;
color: #ffffff; 
}

/*Sub level menu list items (undo style from Top level List Items)*/
.opismen ul li ul li{
display: list-item;
float: none;
padding: 0px;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.opismen ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.opismen ul li ul li a{
font: normal 12px Arial;
width: 140px; /*width of sub menus*/
background: #0c5d7b;
text-decoration:none;
display:block;
padding:10px;
color: #ffffff; 
margin: 0;
}

.opismen ul li ul li a:hover{ /*sub menus hover style*/
background: #022f4c;
color: #ffffff;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 7px;
right: 5px;
}

.rightarrowclass{
position: absolute;
top: 5px;
right: 5px;
}

.inpszukaj {background-color:#fafafa; border:solid 1px #d1d1cf; padding-left:7px; padding-right:7px; padding-top:9px; padding-bottom:9px;}

.inpszukaja {background-color:#fafafa; border:solid 1px #d1d1cf; padding-left:7px; padding-right:7px; padding-top:9px; padding-bottom:9px; width:190px; margin-top:10px; margin-bottom:10px;}

a.szukaj:link {font-size:13px; padding:9px; color:#FFFFFF; text-decoration:none; background-color:#6d6e71;}
a.szukaj:active {font-size:13px; padding:9px; color:#FFFFFF; text-decoration:none; background-color:#6d6e71;}
a.szukaj:visited {font-size:13px; padding:9px; color:#FFFFFF; text-decoration:none; background-color:#6d6e71;}
a.szukaj:hover {font-size:13px; padding:9px; color:#dddddd; text-decoration:none; background-color:#6d6e71;}

.paletkal{ width:240px; border:#d1d1cf solid 1px; background-color:#f5f5f5; margin-bottom:15px; margin-top:5px; float:left; margin-right:7px;}
.paletka{ width:240px; border:#d1d1cf solid 1px; background-color:#f5f5f5; margin-bottom:15px; margin-top:5px; float:left;}
.paletkaslide{ width:240px; border:#d1d1cf solid 1px; background-color:#f5f5f5; margin:0;}
.tytu { color:#d91a1a; font-size:16px; padding-left:20px; padding-right:20px; padding-bottom:10px; padding-top:20px; }
.tres { color:#6d6e71; font-size:11px; padding-left:20px; padding-right:20px; padding-bottom:30px; padding-top:20px; text-align:justify;}
.tresnow { color:#1b3360; font-size:11px; padding-left:20px; padding-right:20px; padding-bottom:5px; padding-top:5px; text-align:justify;}
.tresdata { color:#8f8f8f; font-size:10px; padding-left:20px; padding-right:20px; padding-top:5px; text-align:justify; background-image:url(../images/kwadr.gif); background-repeat:no-repeat; background-position:left 9px; }
.lis {list-style:url(../images/kwadr.gif); padding-left:10px; padding-right:0px; margin:0;}
.tresa { color:#6d6e71; font-size:11px; padding-left:20px; padding-right:20px; padding-bottom:30px; padding-top:20px; text-align:right;}

a.zobacz:link {font-size:11px; padding:9px; color:#FFFFFF; text-decoration:none; background-color:#243f73; margin-right:0px; margin-bottom:20px; }
a.zobacz:active {font-size:11px; padding:9px; color:#FFFFFF; text-decoration:none; background-color:#243f73; margin-right:0px; margin-bottom:20px;}
a.zobacz:visited {font-size:11px; padding:9px; color:#FFFFFF; text-decoration:none; background-color:#243f73; margin-right:0px; margin-bottom:20px;}
a.zobacz:hover {font-size:11px; padding:9px;  color:#dddddd; text-decoration:none; background-color:#243f73; margin-right:0px; margin-bottom:20px; }

a.kalk { display: block; width: 240px; height: 150px; overflow: hidden; }
a.kalk img { display: block; }
a.kalk:hover img { margin-left: -240px; }